*{
    text-align: center;
}
h1{
    text-decoration: dotted;
    text-transform: capitalize;
    text-decoration:orange overline;
    text-decoration-style: wavy;
    font-weight: normal;/*font wt ranges from 100-900*/
}
h2{
    font-style: oblique;
    font-weight: 500;
}
h3{
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
}
h4{
    font-family:cursive;
    font-weight: 100;
}
#para1 {
    font-size: 16px;
}
#para2 {
    font-size: 20px;
}
#para3 {
    font-size: 25px;
    text-decoration: lightgreen underline;
    text-decoration-style: wavy;
}
#para4{
    line-height: 2px;
}
#para5{
    line-height: 10px;
}
#para6{
    line-height: 20px;
}
#div1{
    text-align: left;
    height: 100px;
    width: 300px;
    background-color: coral;
    border-width: 7px;
    border-style: groove;
    border-color: brown;
}
#div2{
    text-align:right;
    border:none;
    background: none;
}
big{
    font-weight: 200;
    font-size: 20px;
    width: 500px;
    background-color:slategray;
    border-style: dashed;
    border-width: 2px;
}
small{
    height: 15px;
    border:1px solid black;/*shorthand way of writing*/
    background-color: #707070;
}
#div3{
    height:100px;
    width:100px;
    background-color: pink;
    border: 3px solid red;
    border-radius: 3px;
    padding: 10px;
    margin: 45px;
}
#div4{
    height:100px;
    width:100px;
    background-color: pink;
    border: 3px solid red;
    border-radius: 10px;
    text-align: left;
    padding: 1px 2px 3px 4px;/*top right bottom left->clockwise*/
    margin: 1px 2px 3px 4px;
}
#div5{
    height: 25px;
    width: 25px;
    background-color: pink;
    border: 1px solid red;
    border-radius: 50%;
}