.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: red;
}
li{
    list-style-type: none;
}

.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;/* to center(align) items along main(here,horizontal) axis*/
    align-items: center;/* to center(align) items along cross(vertical here) axis*/
}
/*align-items is applied on container
align-self is applied on individual items*/
/*align-self having a higher priority than align-items*/
.inner{
    height: 100px;
    width: 100px;
    background-color:darkorchid;
}