.navbar{
    background-color: pink;
    display: flex;/*items flexbox(container) ke andar*/
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: red;
}
li{
    list-style-type: none;
    display: inline-block ;
    color: red;
}